<div class="signUpScreen"> 
  <div class="authHeader">
    <h5>Please register to access more features in Access Fuel.</h5>
  </div>

  <div class="sign_up_form">
    <%= form_tag new_user_registration_path do %>
      <%= text_field_tag 'user[email]' %>
      <%= password_field_tag 'user[password]' %>
      <%= submit_tag 'Register' %>
    <% end %>
  </div>
</div>







