<div id="welcomeBackground">
<div class="overlay">
	<!-- <h1 class="glyphicon glyphicon-calendar"></h1> -->

  <div class="welcomeLogo">
  </div>         

	<!-- Sign Up Button -->
	<%= link_to 'Discover Events', new_user_registration_path, class: 'ctaSignUp' %>
</div>
</div> 