<div id="welcomeBackground">
  <div class="overlay">
    <div class="welcomeLogo">
      Networking <br>Events <br>that <br>You <br>Can't <br>Afford <br>to Miss
    </div>         

	<!-- Sign Up Button -->
	 <%= link_to 'Discover Events', settings_path, class: 'discover' %>
  </div>
</div> 

<script>
  $(window).load(function(){
    var mobileViewAlert = function(){
      if (screen.width > 768){
        alert("AccessFuel is best viewed on your phone!");
      } else {
        console.log("mobile");
      }
    };

    mobileViewAlert();

  });
</script>