<div id="welcomeBackground">
  <div class="overlay">
    <div class="welcomeLogo">
    </div>         

	<!-- Sign Up Button -->
	 <%= link_to 'Discover Events', new_settings_path, class: 'discover' %>
  </div>
</div> 