
<!--Top Bar -->
<header>
	<div class="container-fluid home" style="background-color:black;">
		<div class="row">
			<div class="col-xs-12 text-center">
				<p id="top_bar">Prototype Launching May 2014</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<div id="santa_monica_image">
					<h1 id="logo_name" class="text-center">AccessFuel.com</h1>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- Description -->
<article>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<h1 id="header_text">Your Gateway to LA's Tech Ecosystem</h1>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12	">
				<p id="article_text">Access the things you need to fuel your success within the Los Angeles tech/startup Ecosystem - people, events, courses, capital, jobs and more!</p>
				<p id="find_events_link"><%= link_to 'Find Events', events_path, class: 'events_link' %></p>
				<p id="login" class="text-center"> <%= link_to 'Sign Up', new_user_registration_path, class: 'navbar-link' %></p>
			</div>
		</div>
	</div>
</article>

