<style type="text/css">
	.carousel {
		height: 300px;
		background: black;
	}
</style>


<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li id="c1" data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li id="c2" data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li id="c3" data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <!-- <img src="..." alt="..."> -->
      <div class="carousel-caption">
        <h3>h...</h3>
        <p>..d.</p>
      </div>
    </div>
    <!-- ... -->
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

