<%= form_for(User.new) do |user| %>
  <p> Save your settings</p>
  <%= user.text_field :email, :placeholder => "your.name@example.com" %><br><br>
  <%= user.password_field :password, :placeholder => "Enter password" %><br><br>
  <%= user.submit "Submit", class: "btn btn-default" %>
  <br><p>Already a user? Welcome back! <a data-dismiss="modal" data-toggle="modal" data-target="#myModal2">Sign in.</a></p>
<% end %>
