
<div class ="container-fluid">
	<div class="row">
		<div id="logo" class="col-md-12">Events</div>
	</div>
</div>

<div id="favorite_link">
		<%= link_to 'Favorite',  favorite_path %>
</div>


<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo">
  simple collapsible
</button>

<div id="demo" class="collapsing">Test</div>























<script>
	$(".glyphicon-star.index").click(function(){
		$(this).toggleClass('yellow');
		});
</script>
		







