<body class="favorites-page">

<div class="off-canvas">  
  <%= render 'events/nav_bar' %>

  <%= render 'events/events' %>

</div> <!-- /.off-canvas -->
</body>

<script>
$(".glyphicon-star.index").click(function(){
	$(this).toggleClass('yellow');
	});
</script>
