<%= render 'events/nav_bar' %>

<!-- Events Listing Container-->
<div class="container-fluid content">
	<div class="row row_filter">
		<div class="column col-xs-12 text-center" style="padding:0px">
			<div class="btn-group">
			  <button type="button" id="fav" class="btn btn-default" onclick="fav()">Favorites</button>
				
				<button type="button" id="nearest" class="btn btn-default" onclick="nearest()">Nearest</button>

<!-- Dropdown Menu for Dates Filters -->
			  <button class="btn dropdown-toggle sr-only" type="button" id="dropdownMenu1" data-toggle="dropdown">
			    Date
			    <span class="caret"></span>
			  </button>

			  <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">

					<button type="button" id="today" class="btn btn-default" onclick="today()">Today</button>

					<button type="button" id="tomorrow" class="btn btn-default" onclick="tomorrow()">Tomorrow</button>

					<button type="button" id="weekend" class="btn btn-default" onclick="weekend()">This Weekend</button>

					<button type="button" id="tomorrow" class="btn btn-default" onclick="tomorrow()">Next Week</button>

					<button type="button" id="weekend" class="btn btn-default" onclick="weekend()">Next Weekend</button>
			  </ul>
			</div>
		</div>
	</div>
</div>
<div id="filtered_events">
	<%= render "events/events" %>
</div>
<!-- End of Event Listing container -->

<!-- AJAX calls to filtered events -->
<script>
	function today() {
		$.get( "events", { time_period: "today" } );
	}

	function tomorrow() {
		$.get( "events", { time_period: "tomorrow" } );
	}

	function weekend() {
		$.get( "events", { time_period: "weekend" } );
	}

	function fav() {
		$.get( "events", { time_period: "fav" } );
	}

	function nearest() {
		$.get( "events", { time_period: "nearest" } );
	}
</script>








