<!-- Fixed Header Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class ="container-fluid">
		<div class="row header_row">
			<div class="col-md-3 col-sm-3 col-xs-3">
				<%= link_to image_tag("Icon_final.png", :class => "icon"), :action => "index", :controller => "welcome" %>
				<span id="survey">
					<%= link_to 'Send Feedback', 'https://accessfuel.wufoo.com/forms/prototype-feedback-from-awesome-fuelers/', class: "survey_link", target: "_blank" %>
				</span>
				<span class="glyphicon glyphicon-envelope"></span>
			</div>
			<div id="header" class="col-md-6 col-sm-6 col-xs-6"><span>Events</span></div>
			<div id="favorite_link_events" class="col-md-3 col-sm-3 col-xs-3"><%= link_to 'Favorites',  favorite_path, :class => 'fav_events' %></div>
		</div>
	</div>
</nav>
<!-- End of Navigation -->

<!-- Events Listing Container-->
<div class="container-fluid content">
	<div class="row row_filter">
		<div class="column col-xs-12 text-center">
			<div class="btn-group">
			  <button type="button" id="today" class="btn btn-default" onclick="today()">Today</button>
			  <button type="button" id="tomorrow" class="btn btn-default" onclick="tomorrow()">Tomorrow</button>
			  <button type="button" id="weekend" class="btn btn-default" onclick="weekend()">Weekend</button>
			</div>
		</div>
	</div>
</div>
<!-- End of Event Listing container -->
<div id="filtered_events">
	<%= render "events/events" %>
</div>

<!-- Favorite Function -->
<script>
$(".glyphicon-star.index").click(function(){
	$(this).toggleClass('yellow');
	});
</script>


<script>
	addYellowClass();
</script>

<script>
	function today() {
		$.get( "events", { time_period: "today" } );
	}

	function tomorrow() {
		$.get( "events", { time_period: "tomorrow" } );
	}

	function weekend() {
		$.get( "events", { time_period: "weekend" } );
	}
</script>






