<%= render 'events/nav_bar' %>

<!-- Events Listing Container-->
<div class="container-fluid content">
	<div class="row row_filter">
		<div class="column col-xs-12 text-center" style="padding:0px">
			<div class="btn-group">
			  <button type="button" id="today" class="btn btn-default" onclick="today()">Today</button>
			  <button type="button" id="tomorrow" class="btn btn-default" onclick="tomorrow()">Tomorrow</button>
			  <button type="button" id="weekend" class="btn btn-default" onclick="weekend()">Weekend</button>
			</div>
		</div>
	</div>
</div>
<div id="filtered_events">
	<%= render "events/events" %>
</div>
<!-- End of Event Listing container -->

<script>
	function today() {
		$.get( "events", { time_period: "today" } );
	}

	function tomorrow() {
		$.get( "events", { time_period: "tomorrow" } );
	}

	function weekend() {
		$.get( "events", { time_period: "weekend" } );
	}
</script>








