// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

$maincolor: lighten(#ccc, 40%);

.navbar {
	border: none;
}

.header_row {
	padding-bottom: 10px;
}

#home_logo {
	height: 150px;
	width: 100%;
	background-image: url('logo.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center top;
}

.survey_link {
	color: red;
	font-weight: 500;
	background-color: orange;
	font-size: 1.25em;
	padding: 10px;
	border-radius: 5px;
}


.survey_link:hover{
	color: white;
	text-decoration: none;
}


.row_events:nth-child(odd) {
	background-color: white;
}

.row_events:nth-child(even) {
	background-color: #ccc;
}

.row_data:nth-child(odd) {
	background-color: #ccc;
}

.row_data:nth-child(even) {
	background-color: white;
}

.row_description {
	padding: 0 10px;
}

.row_description:nth-child(odd) {
	background-color: white;
}

.row_description:nth-child(even) {
	background-color: #ccc;
}

.error {
	color: red;
}


#header {
	text-align: center;
	font-weight: bold;	
	font-size: 3em;
	padding-top: 5px;
	span {
		border-bottom: 5px solid blue;
	}

}

#header a:hover, #header a:focus, #favorite_link_page a:hover, #favorite_link_events a:hover {
	text-decoration: none;
	border-bottom: 5px solid blue;
}


#favorite_link_page {
	text-align: right;
	font-size: 2.5em;
	padding-top: 10px;
	font-weight: bold;
	float:right;
	span {
		border-bottom: 5px solid blue;
	}

}

#favorite_link_events {
	text-align: right;
	font-size: 2.5em;
	padding-top: 10px;
	font-weight: bold;
	/*margin-left: 10%;*/
}

#icon{
	padding-top: 5px;
	background-image: url("Icon_final.png");
	padding-left: 10px;
	height: 75px;
	width: 65px;
	background-size: cover;
	margin-left: 15px;
	margin-top: 5px;
}

.icon{
	padding-top: 5px;
	padding-left: 10px;
	height: 75px;
	width: 65px;
	margin-left: 15px;
	margin-top: 5px;

}


#icon a:hover {
	color:none;
}


ul {
	list-style-type: none;
}

.event_header {
	font-size: 1.25em;
	font-weight: 500;
}


.date {
	font-size: 1.75em;
}


.container-fluid .content {
	margin: 0 auto;
	width: 90%;
}

.row_events {
	padding-top: 10px;
}

.glyphicon-star.favorite{
	color: yellow;
	font-size: 2em;
	padding-right: 5px;
	margin-left: -20px;
}

.glyphicon-star.index{
	font-size: 2em;
}

.yellow {
	color: yellow;
	font-size: 2em;
}

.black {
	color: black;
	font-size: 2em;
}



button#button_down {
	background-color: transparent;
	border: none;
}

.badge.upcoming{
	font-size: 1em;
	background: #D15;
}

#explore a{
	font-weight: bold;
	text-decoration: none;
	padding-right: 5px;	
}

@media only screen and (max-width: 540px) {

	.container-fluid, section {
		width: 100%;
		padding: 0px 0px !important;
	}

	.glyphicon-star.index {
		padding-right: 0px;
		margin-left: 0px;
		font-size: 1.5em;
	}

	.glyphicon-star.favorite{
		color: yellow;
		font-size: 1.5em;
		padding-right: 0px;
		margin-left: 0px;
	}

	.carousel {
		height: 200px !important;
	}

	#upcoming {
		font-size: 1.5em;
		padding-left: 10px;
	}

	#favorite_link_events{
		font-size: 22px;
		padding-right: 75px;
		padding-top: 15px;
	}

/*	#favorite_link_events a:hover {
		border-bottom: 5px solid blue;
	}*/


	#favorite_link_page	{
		font-size: 1.50em;
		padding-right: 30px;
		padding-top: 15px;
/*		span {
			border-bottom: 5px solid blue;
		}*/
	}

	.icon {
		padding-top: 5px;
		width: 50px;
		height: 60px;
	}

	#header {
		display: inline;
		font-size: 22px;
		padding-top: 15px;
		/*text-decoration: underline;*/
/*		span {
			border-bottom: 5px solid blue;
		}*/
	}


	#survey {
		margin-top: 10px;
	}

	.survey_link {
		font-size: 1em;
		margin-top: 5px;
	}
}


