// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*test commit*/
@import "bootstrap";

$maincolor: lighten(#ccc, 40%);

// ######## Navigation #######

.navbar {
	border: 0px 0%;
}

.navbar-default {
	background-color: rgba(15, 15, 16, .9);
	border: none;
	-webkit-box-shadow: 0px 2px 12px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 2px 12px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 2px 12px 0px rgba(50, 50, 50, 0.5);
}

.header_row {
	padding-bottom: 10px;
}

#home_logo {
	height: 150px;
	width: 100%;
	background-image: url('logo.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center top;
}

#header {
	text-align: center;
	font-size: 3em;
	padding-top: 5px;
	color: white;
	font-family: 'Oswald', sans-serif;

	a {
		color: rgb(248, 146, 49);
	}

	span {
		/*border-bottom: 5px solid blue;*/
	}
}

#header a:hover, #header a:focus, #favorite_link_page a:hover, #favorite_link_events a:hover {
	text-decoration: none;
	border-bottom: 5px solid rgb(248, 146, 49);
}

#favorite_link_page {
	color: white;
	float: right;
	font-size: 2.5em;
	padding-top: 10px;
	font-family: 'Oswald', sans-serif;

	span {
		border-bottom: 5px solid rgb(248, 146, 49);
	}

	a {
	color: rgb(248, 146, 49);
	}
}

#favorite_link_events {
	color: rgb(248, 146, 49);
	font-size: 2.5em;
	padding-top: 10px;
	text-align: center;
	font-family: 'Oswald', sans-serif;

	a {
	color: rgb(248, 146, 49);
	}
}

#icon{
	padding-top: 5px;
	background-image: url("Icon_final.png");
	padding-left: 10px;
	height: 75px;
	width: 65px;
	background-size: cover;
	margin-left: 15px;
	margin-top: 5px;
}

.icon{
	padding-top: 5px;
	padding-left: 10px;
	height: 75px;
	width: 65px;
	margin-left: 15px;
	margin-top: 5px;

}

#icon a:hover {
	color:none;
}

ul {
	list-style-type: none;
}

// ##### Survey #####

.survey_link {
	color: white;
	background-color: rgb(248, 146, 49);
	font-size: 1em;
	padding: 8px;
	border-radius: 5px;
	font-size: 10pt;
}

.survey_link:hover{
	color: white;
	text-decoration: none;
}

// Flash red error when favorite link is clicked w/o favorites
.error {
	color: red;
}

// ### Mail To Icon  #####

span.glyphicon.glyphicon-envelope {
	padding-left: 10px;
	color: rgb(248, 146, 49);
}

// ### Event Description  #####

section {
	padding: 0px !important;
}

.row_events:nth-child(odd) {
	background-color: white;
}

.row_events:nth-child(even) {
	background-color: rgb(232, 232, 232);
}

.row_data:nth-child(odd) {
	background-color: rgb(232, 232, 232);
}

.row_data:nth-child(even) {
	background-color: white;
}

.row_description {
	padding: 0 10px;
}

.row_description:nth-child(odd) {
	background-color: white;
}

.row_description:nth-child(even) {
	background-color: #ccc;
}

.event_header {
	font-size: 1.4em;
}

.event_description {
	margin: 0 10px;
	text-align: center;
}

.date {
	font-size: 1.75em;
}

.container-fluid.content {
	width: 90%;
	margin: 0px auto 0px auto;
}

.row_events {
	padding-top: 10px;
}

.glyphicon-star.favorite{
	color: rgb(248, 146, 49);
	font-size: 2em;
	padding-right: 5px;
	margin-left: -20px;
}

.glyphicon-star.index{
	font-size: 2em;
	cursor: pointer;
}

.yellow {
	color: rgb(248, 146, 49);
	font-size: 2em;
}

.black {
	color: black;
	font-size: 2em;
}

// #### Events Page Filtering Buttons
button#today, button#tomorrow, button#weekend {
	min-width: 90px;
}

button#today:hover, button#tomorrow:hover, button#weekend:hover {
	background-color: black;
	color:white;
}

// ### Welcome Page
button#button_down {
	background-color: transparent;
	border: none;
}

.badge.upcoming{
	font-size: 1em;
	background: #D15;
}

#explore a{
	font-weight: bold;
	text-decoration: none;
	padding-right: 5px;	
}


// #### Events Show Page CSS
	section.description {
		padding: 0px 10%;
		background-color:black; 
		color:white;
	}

	.badge_show{
		background-color:black;
	}

	.navbar-default#bottom_nav {
		background-color: white;
	}

	.group_photo_row {
		background-color:white;
	}

	.bottom_container {
		padding-top: 10px;
	}

	



