// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

$maincolor: lighten(#ccc, 40%);


.row_events:nth-child(odd) {
	background-color: white;
}

.row_events:nth-child(even) {
	background-color: #ccc;
}

.row_data:nth-child(odd) {
	background-color: #ccc;
}

.row_data:nth-child(even) {
	background-color: white;
}

.row_description {
	padding: 0 10px;
}

.row_description:nth-child(odd) {
	background-color: white;
}

.row_description:nth-child(even) {
	background-color: #ccc;
}


#header {
	text-align: center;
	font-weight: bold;	
	font-size: 3em;
	padding-top: 5px;
}


#header a:hover, #header a:focus, #favorite_link_page a:hover, #favorite_link_events a:hover {
	text-decoration: none;
}

#favorite_link_page {
	text-align: right;
	font-size: 2.5em;
	padding-top: 10px;
	font-weight: bold;

}

#favorite_link_events {
	text-align: right;
	font-size: 2.5em;
	padding-top: 10px;
	font-weight: bold;
}


/*.favs{
	color: black;
}*/

/*#favorite_link_events a {
	color: black;
	}*/

.glyphicon-picture {
	font-size: 3.5em;
	/*padding-top: 5px;*/
	padding-left: 5px;
}

.glyphicon-picture a:hover {
	color:none;
}




ul {
	list-style-type: none;
}

.event_header {
	font-size: 1.25em;
	font-weight: 500;
}



.date {
	font-size: 1.75em;
}


.container-fluid .content {
	margin: 0 auto;
	width: 90%;
}

.row_events {
	padding-top: 10px;
}



/*.glyphicon-star-empty {
	color: black;
	font-size: 2em;
	padding-right: 5px;
	margin-left: -20px;
}*/

.glyphicon-star.index{
	/*color: black;*/
	font-size: 2em;
	padding-right: 5px;
	margin-left: -20px;
}

.glyphicon-star.favorite{
	color: yellow;
	font-size: 2em;
	padding-right: 5px;
	margin-left: -20px;
}

.yellow {
	color: yellow;
	font-size: 2em;
}

.black {
	color: black;
	font-size: 2em;
}



button#button_down {
	background-color: transparent;
	border: none;
}

@media only screen and (max-width: 500px) {
	.container-fluid, section {
		width: 100%;
		padding: 0px 0px !important;
	}
	.glyphicon-star.index{
		padding-right: 0px;
		margin-left: 0px;
		font-size: 1.5em;
	}

	.glyphicon-star.favorite{
		color: yellow;
		font-size: 1.5em;
		padding-right: 0px;
		margin-left: 0px;
	}

	.carousel {
		height: 200px !important;
	}

	#upcoming {
		font-size: 1.5em;
		padding-left: 10px;
	}

	#favorite_link_events{
		font-size: 1.75em;
		padding-right: 30px;
		padding-top: 15px;
	}


	#favorite_link_page	{
		font-size: 1.75em;
		padding-right: 30px;
		padding-top: 15px;
	}

	.glyphicon-picture {
	font-size: 3em;
	padding-left: 20px;
	padding-top: 5px;
	}

	#header {
		font-size: 2em;
		padding-top: 13px;
	}

}

