@mixin vertical-align {
  position: relative;
  top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
}

.error {
  color: cadetblue;
  padding: 20px;
  position: relative;
  margin-top: 50%;
  text-align: center;
}

.error-icon {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: cadetblue;
  color: white;
  margin: 0 auto;
  font-size: 20px;
  margin-bottom: 5px;
}

  #close {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .instructions {
    text-align: center;
    margin: 15px;
    width: 38%;
    display: inline-block;
    font-weight: 500;
  }

  .modal-backdrop {
    background-color: rgba(0,0,0,0.8) !important;
  }

  .temp-fave-header {
    height: 60px;
    width: 100%;
  }

  .event_header {
    font-size: 1em;
  }
