
  #close {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .instructions {
    text-align: center;
    margin: 15px;
    width: 38%;
    display: inline-block;
    font-weight: 500;
  }

  .modal-backdrop {
    background-color: rgba(0,0,0,0.8) !important;
  }

  .temp-fave-header {
    height: 60px;
    width: 100%;
  }

  .event_header {
    font-size: 1em;
  }
