.ga-body {
  width: 100vw;
  height: 100%;
  color: white;
  text-shadow: 2px 2px #000000;
  background-image: url(http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_52d5b2dfdf619_1.JPG);
  background-size: cover;
  font-weight: 300;
}

.ga-number {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: darkgoldenrod;
  display: inline-block;
  text-align: center;
  padding: 5px;
}

.ga-content {
  padding: 40px;
}

.ga-header {
  padding-top: 80px;
  font-size: 30px;
}

.ga-subheader {
  font-size: 28px;
  margin-bottom: 10px;
}

.ga-bullet-points {
  font-size: 22px;
  margin-bottom: 20px;
  line-height: 35px;
  vertical-align: bottom;
}

.ga-logo-container {
  width: 49%;
  display: inline-block;
  text-align: center;
}

.ga-partnership-logo {
  width: 90px;
  height: 90px;
}

.af-partnership-logo {
  width: 70px;
  height: 70px;
}