// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  html, body {
    font-family: 'Open Sans', sans-serif;
  }

  #welcomeBackground {
    height: 100vh;
    width: 100vw;
    position: relative;
  }

  h1, h2 {
    font-family: 'Oswald', sans-serif;
  }

  h1.glyphicon.glyphicon-calendar {
    color: gold;
    text-align: center;
    font-size: 5em;
    position: relative;
    margin: 0 auto;
    padding-top: 10%;
    margin-bottom: 10%;
    display: block;
  }

  .welcomeCopy {
    margin: 0 auto;
    margin-bottom: 10%;
    width: 300px;
    color: rgb(200,200,200);
    text-align: center;
    font-size: 20pt;
    line-height: 30px;
    -webkit-text-shadow: 0px 2px .5px rgba(50, 50, 50, 0.75);
    -moz-text-shadow:    0px 2px .5px rgba(50, 50, 50, 0.75);
    text-shadow:         0px 2px .5px rgba(50, 50, 50, 0.75);
  }

  .welcomeCopy>span {
    color: rgb(255,255,255);
    font-size: 24pt
  }

  #smallWelcomeCopy {
    font-size: 16pt;
  }

  .ctaSignUp {
    position: relative;
    margin: 0 auto;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
    background-color: orange;
    border-radius: 10px;
    padding: 10px;
    font-weight: 500;
    color: black;
    display: table;
  }

  a.ctaSignUp:hover {
      text-decoration: none;
  }

/*taken from top of home/index.html.erb*/

  .container-fluid {
    padding: 0px 0px
  }

  #logo_name {
    color: white;
    font-size: 3em;
    padding-top: 100px;
    margin: 0px;
  }

  .welcome_logo {
    width: 450px;
    height: auto;
    position: absolute;
    left: 36%;
    top: 20%;
  }

  .ctaSignUp {
    font-size: 1.5em;
    border-radius: 10px;
    padding: 15px;
    min-width: 300px;
  }

  a.ctaSignUp:hover {
      text-decoration: none;
  }