// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  html, body {
    font-family: 'Open Sans', sans-serif;
  }

  #welcomeBackground {
    height: 100vh;
    width: 100vw;
  }

  h1, h2 {
    font-family: 'Oswald', sans-serif;
  }

  h1.glyphicon.glyphicon-calendar {
    color: white;
    text-align: center;
    font-size: 5em;
    position: relative;
    margin: 0 auto;
  }

  .ctaSignUp {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
    background-color: orange;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-weight: 500;
    margin: 0 auto;
    position: relative;
    color: black;
  }

  a.ctaSignUp:hover {
      text-decoration: none;
  }

/*taken from top of home/index.html.erb*/

  .container-fluid {
    padding: 0px 0px
  }

  #logo_name {
    color: white;
    font-size: 3em;
    padding-top: 100px;
    margin: 0px;
  }

  .welcome_logo {
    width: 450px;
    height: auto;
    position: absolute;
    left: 36%;
    top: 20%;
  }

  #header_text {
    font-size: 3em;
    font-weight: 4000;
    border-right: 1px solid black;
    padding: 15px 20px 15px 10px;
    text-align: right;
  }

  #article_text {
    font-size: 1em;
    padding-top: 3em;
    padding-right: 5px;
    margin-bottom: 30px;
  }

  .ctaSignUp {
    font-size: 2em;
    border-radius: 10px;
    padding: 15px;
    min-width: 300px;
  }

  a.ctaSignUp:hover {
      text-decoration: none;
  }

  @media only screen and (max-width: 767px) {

    #header_text {
      text-align: center;
      padding-bottom: 20px;
      border-right: none;
    }

    #article_text  {
      text-align: center;
      padding-top: 1em;
      margin-left: 5px;
      margin-right: 5px;
    }

    #find_events_link {
      text-align: center;
    }

    #logo_name {
      color: white;
      font-size: 2em;
      padding-top: 50px;
      margin: 0px;
    }

    #header_text {
      font-size: 2em;
      margin-left: 5px;
      margin-right: 5px;
    }

    .ctaSignUp {
      font-size: 1.5em;
    }
  }