// ###### Media query for mobile devices ####

@media only screen and (max-width: 540px) {

  .mobileNavIcon {
  color: rgb(248, 146, 49);
  display: inline-block;
  /*margin-left: 50%;*/
  padding: 9px 10px;
  }

  .container-fluid, section {
    width: 100%;
  }

  .event_name {
    font-size: 1.5em;
  }

  .event_header {
    font-size: 1em;
  }

  .glyphicon-star.index {
    padding-right: 0px;
    margin-left: 0px;
    font-size: 1.5em;
  }

  .glyphicon-star.favorite{
    color: yellow;
    font-size: 1.5em;
    padding-right: 0px;
    margin-left: 0px;
  }

  #upcoming {
    font-size: 1.5em;
    padding-left: 10px;
  }

  #favorite_link_events{
    font-size: 22px;
    padding-right: 75px;
    padding-top: 15px;
  }

  #favorite_link_page {
    font-size: 1.50em;
    padding-right: 30px;
    padding-top: 15px;
  }

  .icon {
    padding-top: 5px;
    width: 50px;
    height: 60px;
  }

  #header {
    display: inline;
    font-size: 22px;
    padding-top: 15px;
  }

  .survey_link {
    font-size: 7pt;
    margin-top: 5px;
    padding: 6px;
  }

  span.glyphicon.glyphicon-envelope {
    padding-left: 37px;
    color: #f89231;
    padding-top: 10px;
  }

  .container-fluid.content {
    width: 100%;
    margin: 0px auto 0px auto;

    .red_overlay {
      width: 100%;
      height: 85px;
      background: rgba(255, 18, 13, .5);
      position: absolute;
      right: -100%;
      top: 0;
      pointer-events: none;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -ms-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
    }

    .green_overlay {
      width: 100%;
      height: 85px;
      background: rgba(82, 176, 70, .5);
      position: absolute;
      left: -100%;
      top: 0;
      pointer-events: none;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -ms-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
    }
  }

// ######## Show Page CSS #########
  .group_photo {
    width: 100%;
    size: cover;
    min-height: 200px;
  }

}

// ######## Home Page ####
@media only screen and (max-width: 767px) {

  #article_text  {
    text-align: center;
    padding-top: 1em;
    margin-left: 5px;
    margin-right: 5px;
  }

// ######## Events Page ####
  .survey_link {
    font-size: 7pt;
    margin-top: 5px;
    padding: 3px;
  }

  span.glyphicon.glyphicon-envelope {
    padding-left: 37px;
    color: #f89231;
    padding-top: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 879px) {
  .survey_link {
    display: none;
  }

  .mobileNavIcon {
    display: none;
  }
}

@media only screen and (min-width: 556px) and (max-width: 739px) {
  .survey_link {
    display: none;
  }

  .mobileNavIcon {
  color: rgb(248, 146, 49);
  display: inline-block;
  /*margin-left: 50%;*/
  padding: 9px 10px;
  }
}