// ###### Media query for mobile devices ####

@media only screen and (max-width: 540px) {

  .container-fluid, section {
    width: 100%;
    padding: 0px 0px !important;
  }

  .event_name {
    font-size: 1.5em;
  }

  .glyphicon-star.index {
    padding-right: 0px;
    margin-left: 0px;
    font-size: 1.5em;
  }

  .glyphicon-star.favorite{
    color: yellow;
    font-size: 1.5em;
    padding-right: 0px;
    margin-left: 0px;
  }

  .carousel {
    height: 200px !important;
  }

  #upcoming {
    font-size: 1.5em;
    padding-left: 10px;
  }

  #favorite_link_events{
    font-size: 22px;
    padding-right: 75px;
    padding-top: 15px;
  }

  #favorite_link_page {
    font-size: 1.50em;
    padding-right: 30px;
    padding-top: 15px;
  }

  .icon {
    padding-top: 5px;
    width: 50px;
    height: 60px;
  }

  #header {
    display: inline;
    font-size: 22px;
    padding-top: 15px;
  }

  .survey_link {
    font-size: 7pt;
    margin-top: 5px;
    padding: 6px;
  }

// ######## Show Page CSS #########
  .group_photo {
    width: 100%;
    size: cover;
    min-height: 200px;
  }

}

// ######## Home Page ####
@media only screen and (max-width: 767px) {
    #header_text {
      text-align: center;
      padding-bottom: 20px;
      border-right: none;
    }

    #article_text  {
      text-align: center;
      padding-top: 1em;
      margin-left: 5px;
      margin-right: 5px;
    }

    #find_events_link {
      text-align: center;
    }

    #santa_monica_image {
      background-image: url('https://launchrock-assets.s3.amazonaws.com/background-files/8EZADCXZ_1396659538110.png');
      height: 150px;
    }

    #logo_name {
      color: white;
      font-size: 2em;
      padding-top: 50px;
      margin: 0px;
    }

    #header_text {
      font-size: 2em;
      margin-left: 5px;
      margin-right: 5px;
    }

    .events_link {
      font-size: 1.5em;
    }

// ######## Events Page ####
    .survey_link {
    font-size: 7pt;
    margin-top: 5px;
    padding: 3px;
    }

  }