// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.sessions-new{
  .alert {
    text-align: center;
    color: red;
  }

} 

.login_form {
  margin: 0 auto;
  padding: 50px;
  text-align: center;
}