<!DOCTYPE html>
<html>
<head>
  <title>AccessFuel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0" />  


  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  
</head>
<body>

<%= yield %>

</body>
</html>
